.container {
    margin-inline: auto;
    padding-inline: var(--dp-grid-mobile-margin);
    width: 100%;
    max-width: var(--dp-grid-desktop-width);
}

@media (min-width: 992px){
    .container{
        padding-inline: var(--dp-grid-desktop-margin);
    }
}