.env
.DS_Store
.idea/
.vscode/
*.log
db/dump*.sql

/prestashop/*
!/prestashop/themes
/prestashop/themes/*
!/prestashop/themes/designpresta
!/prestashop/modules
/prestashop/modules/*
!/prestashop/override
/prestashop/override/*
CLAUDE.md
